.App{
  height: 80vh;
  display: flex; 
  justify-content: center;
  align-items: center;

}

.animate-box{
      height: 100px;
      width: 100px;
      background-color: rgb(91, 105, 255);
      margin: 10px;
      padding: 50px;
      border-radius: 20px;
}